<!-- Tab News Start-->
        <div class="tab-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div data-sly-resource="${'tabslist-1' @resourceType='vcs/components/vcs-taglist'}"></div>
                        
                        <div data-sly-resource="${'tabslist-two-1' @resourceType='/apps/vcs/components/vcs-taglist-two'}"></div>
                        
                    </div>
                    
                    <div class="col-md-6">
                        <div data-sly-resource="${'tabslist-2' @resourceType='vcs/components/vcs-taglist'}"></div>
                        
                        <div data-sly-resource="${'tabslist-two-2' @resourceType='/apps/vcs/components/vcs-taglist-two'}"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab News Start-->