
<div class="tab-content">
	<div id="featured" class="container tab-pane active">
		<div data-sly-resource="${'imagetag-1' @resourceType='/apps/vcs/components/vcs-imagetab'}"></div>
	</div>
	<div id="popular" class="container tab-pane fade">
		<div data-sly-resource="${'imagetag-2' @resourceType='/apps/vcs/components/vcs-imagetab'}"></div>
	</div>
	<div id="latest" class="container tab-pane fade">
		<div data-sly-resource="${'imagetag-3' @resourceType='/apps/vcs/components/vcs-imagetab'}"></div>
	</div>
</div>