<div class="course-list">
    <h2>${model.title}</h2>
    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Faculty</th>
                <th>Date</th>
                <th>Time</th>
                <th>Course Content</th>
                <th>Demo Link</th>
            </tr>
        </thead>
        <tbody>
            <sly data-sly-use.model="com.vcs.core.models.CourseListModel">
                <sly data-sly-list.course="${model.courses}">
                    <tr>
                        <td>${course.courseName}</td>
                        <td>${course.faculty}</td>
                        <td>${course.date}</td>
                        <td>${course.time}</td>
                        <td><a href="${course.courseContent}">Course Content</a></td>
                        <td><a href="${course.demoLink}">Demo Link</a></td>
                    </tr>
                </sly>
            </sly>
        </tbody>
    </table>
</div>

<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='vcs.courses', async=true}"/>
</sly>
