 <sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='oak01.base', async=true}"/>
</sly>

<div class="footer-widget" data-sly-test="${!properties.displayInline}">

    <h3 class="title">${properties.title}</h3>
    <ul data-sly-list.nav=${properties.navLinks}>
       <sly data-sly-use.resource="${nav}/jcr:content" />
       <li><a href="${nav}.html">${resource.jcr:title}</a></li>
    </ul>

     <div class="contact-info"  data-sly-test="${properties.socialIcons}">
           <p><i class="fa fa-map-marker"></i>BENGALURU OFFICE</p>
           <p><i class="fa fa-envelope"></i>corp@surgesoftware.co.in</p>
           <p><i class="fa fa-phone"></i>+123-456-7890</p>
           <div class="social">

           <a href=""><i class="fab fa-twitter"></i></a>
           <a href=""><i class="fab fa-facebook-f"></i></a>
           <a href=""><i class="fab fa-linkedin-in"></i></a>
           <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
         </div>
      </div>

      <div class="newsletter" data-sly-test="${properties.subscribeForm}">
           ${properties.text @context='html'}
            <form>
               <input class="form-control" type="email" placeholder="Your email here">
               <button class="btn">Submit</button>
            </form>
      </div>
</div>
	
	
<div class="footer-menu" data-sly-test="${properties.displayInline}">								
    <div class="container" >
       <div class="f-menu" data-sly-list.nav="${properties.navLinks}">
           <sly data-sly-use.contentResource="${nav}/jcr:content" />
           <a href="${nav}.html">${contentResource.jcr:title}</a>
       </div>
    </div>
</div>
