<sly data-sly-use.trainingArticles="com.vcs.core.models.TrainingArticlModel"/>
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">${trainingArticles.title}</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2" data-sly-list.banner="${trainingArticles.bannerList}">
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="${banner.bannerImage}" alt=""/></div>
                    <div>
                        <a href="${banner.pagePath}.html" class="d-block fh5co_small_post_heading"><span class="">${banner.bannerText}</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> ${banner.createdDateStr}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>